.search-area {
  border: 1px #D2D2D2 solid;
}

.search-area-forms {
  display: flex;
  flex-direction: row;
}

h1 {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .search-area-forms {
    flex-direction: column;
    align-items: center;
  }
}
